@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F1F3F5;
}
header{
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04ADBF;
    color:#F1F3F5;
}
header h1{
    font-family: 'Bebas Neue';
}
.img-logo{
    position:Absolute;
    left:20px;
    top:0px;
}
.img-logo-png{
    width:190px;
    height:170px;
}

#menu h5{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-right:5px;
}
.menu{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:180px;
    background-color: #1c82a2;
}
.menu li{
    display: flex;
    padding: 15px;
    transition: 0.5s;
}
.menu li:hover{
    background-color: #04ADBF;
    transition: 0.8s;
    border-radius: 2px;
}
.menu .active{
    border-bottom: solid 1.8px white;
}
.menu li a{
    text-decoration: none;
    color:white;
    font-family: 'Montserrat';
    font-size:1.5em;
}
.dark{
    background-color:#15202b ;
}
body.dark footer{
    background-color: #22303c;
    color:white;

}
body.dark h2{
    color:white;
}
body.dark #btn-menu{
    color:white;
}
body.dark .boas-vindas{
    background-color: #FCF6EB;
}
body.dark .card{
    background-color: #FCF6EB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(109, 108, 108, 0.2);
}
body.dark #menu h5{
    color:white;
}
body.dark header{
    background-color: #15202b;
}
.divMudartema{
    position: absolute;
    bottom:0;
    right:5px;
}
.fa-sun,.fa-moon{
    color:white;
    cursor: pointer;
}
.divSair{
    position: absolute;
    top:0;
    right:0;
}
.btnSair{
   width:auto;
   border-top-left-radius: 0.1em;
   border-bottom-left-radius: 0.1em;
   padding:0.5em;
   outline:none;
   border:none;
   background-color:#F20519;
   color:#F2F2F2;

}
.boas-vindas{
    display:block;
    margin: auto;
    margin-top:25px;
    width:50%;
    background-color: white;
    padding:20px;
    border-radius: 2px;
}
.boas-vindas p{
    font-size: 1.1em;
    text-align: justify;
}
.boas-vindas h3{
    text-align: center;
    color:#1377b6;
}
.texto{
    margin-top: 25px;
    text-align:center;
    color:#1c82a2;
    margin-bottom: 25px;
}
.main-inicio{
    width:95%;
    display:flex;
    margin: auto;
    height:auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:25px;
}
.footer{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top:35px;
    padding:1em;
}
.footer h3{
    font-family: 'Montserrat';
    font-size: 1.3em;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mapa{
    width:100%;
    height:100px;
}
.fa-whatsapp{
    color:#25D366 ;
}
.icones{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
    padding:8px;
}
.textos-pacotes{
        display:block;
        margin: auto;
        margin-top:25px;
        width:60%;
        background-color:#1c82a2;
        padding:20px;
        border-radius: 8px;
}
.textos-pacotes h2{
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1.8em;
}
.lugares-pacotes{
    width:80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;

}
.lugares{
    width:50%;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
}
.formulario{
    width:50%;
    display:block;
    margin:auto;
    height: auto;
    margin-top:20px;
    padding:25px;
}
.row{
    background-color: white;
    padding:20px;
    width:auto;

}
.sexo{
    display:block;
}
.texto-form h2{
    text-align:center;
    color:#1377b6;
    font-family: 'Montserrat';
    font-size: 1.6em;
}
.container{
    display:flex;
    justify-content: center;
    width:70%;
    margin:auto;
    margin-top:15px;
    padding:50px;
    text-align:center;
}
.btn{
    width:150px;
    padding:8px;
    margin-right: 15px;
}

.btn-primary,.btn-primary:hover{
    background-color: #1c82a2;
    border:0px;
}
.btnReservar{
    background-color: #F2CB05;
}
.btnReservar:hover{
    background-color: #cfb11b;
}
.texto-reserva{
    width:60%;
    margin:auto;
    text-align: center;
    background-color: #1c82a2;
    border-radius: 5px;
    padding:15px;
}
#txt{
    color:#F1F3F5;
}

.cards{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.botoes{
    display:flex;
    gap:10px;
}
.alert-primary{
    width:60%;
}
.pagina-reserva-realizada{
    display:flex;
    align-items: center;
    justify-content: center;
    height:300px;
}
#explicacao{
    font-size:0.5em;
    color:#1c82a2;;
    font-weight: normal;
}
.alert-primary{
    display:flex;
    gap:20px;
}
.alert-primary  h3{
    text-align:center;

}
.escondida{
    display:none;
}
.btn2{
    width:300px;
    margin-bottom:15px;
}
.btn-menu{
    display:none;
}
.curiosidades{
    margin: auto;
    margin-top: 60px;
    width:40%;
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
}
.cardConfirmacao{
    padding:15px;
}
.card-text{
    height: auto;
}
.card-text p{
    text-align: justify;
}
.img-curiosidades{
    width:100%;
    height: 300px;
    border-radius: 0;
}
.texto_curiosidades h1,h2{
    color: #1c82a2; ;

}
.sobre{
    display:block;
    margin: auto;
    margin-top: 60px;
    width:50%;
    background-color: #1c82a2;
    padding: 65px;
    border-radius: 6px;
    color: #F1F3F5;
    margin-bottom:80px;
}
.sobre h1{
    text-align: center;
}
.sobre p{
    font-size: 1.2em;
    text-align: justify;
}
.pagina-login{
    margin-top:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:70%;
    padding:25px;
}

.formulario-login{
    display:block;
    margin:auto;
    width:100%;
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding:10px;
    height:400px;
    padding:35px;
}
.formulario .texto-login h1{
    font-family: 'Bebas neue';
    font-size:4em;
    color:#0367A6;
    text-align:Center;
}
.form-login label{
    font-size: 1.3em;
}
.txt-login-usuario{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:400px;
    background-color: #1c82a2;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagina-login .txt-login-usuario h1{
    color:white;
    font-size: 6em;
}
.form-login{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.campos-login{
    width:75%;
}
.botoes{
    padding:5px;
}
.botoes-login{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn-danger-menu{
    margin-top:20px;
}
#mostrar{
    padding:5px;
    cursor: pointer;
    color:#1c82a2;;
}
.reserva-realizada{
    margin-top:200px;
}
#txt-qtd{
    margin-top:8px;
    color:#0367A6;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1.2em;
}
.reservasDisponiveis{
    width:80%;
}
.destinosAreservar
{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.anuncio{
    width:50%;
    display:block;
    margin:auto;
}
.anuncio h1{
             font-size:2em;
            color: #1e90ff; 
            text-align: center;
            margin: 50px 0;
            padding: 20px;
            background: linear-gradient(45deg, #25D366, #1e90ff); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-weight: bold;
}
.cadastroReservas{
    width:35%;
    background-color: white;

}
.table-cadastrados{
    overflow-y: auto;
    height:450px;
}
#aviso_cep{
    display:none;
}