@media screen and (max-width:768px){
    .img-logo{
        display:none;
    }
    .menu li{
        padding: 8px;
    }
    .menu li a{
        font-size:1.4em;
    }
   .formulario{
    width:80%;
   }
   .container{
    display:flex;
    width:90%;
    margin:auto;
    padding:20px;
    justify-content: center;
}
.lugares-pacotes{
    align-items: center;
    gap:10px;
   }
   .main-inicio{
   
    justify-content: center;
    align-items: center;
    
}
.footer{
    flex-wrap: wrap;
    text-align: center;
}
.redes{
    width:50%;
    align-items: center;

}
.icones{
    width:80%;
}
.maps{
    width:70%;
    margin-top:15px;
}
.contato{
    width:50%;
    align-items: center;

}
footer h3{
    width:100%;

}
.textos-pacotes h2{
    font-size: 1.3em;
    }
    .curiosidades{
        width:80%;
    }
    .card-text p{
        font-size:0.9em;
    }
    .sobre{
        width:80%;
    }
    .sobre p{
        font-size: 1em;
    }
    .formulario-login{
        width:95%;
    }
    .form-login label{
        font-size: 1.1em;
    }
    .table-cadastrados{
        height:300px;
        overflow-y: auto;
    }
    .thead-light tr th{
        font-size: 0.9em;
    }
    .alert-primary{
        flex-direction: column;
    }
    .alert-primary h2{
        font-size:1.6em;
    
    }
    .txt-login-usuario, .formulario-login{
        padding:5px;
        width:90%;
    }
    .tabela .txt-login-usuario h1{
        color:white;
    }
    .tabela .texto-login h1{
        font-size:3em;
    }
    .formulario-login{
        height:400px;
    }
    .form-login{
        padding:15px;
    }
	.slides{
	flex-direction:column;
	margin-top:80px;
	width:90%;
}
.texto-slides{
	width:100%;
}
.texto-slides h2{
    animation:none;
}
}
@media screen and (max-width:600px){
    .formulario{
        width:70%;
       }
    .btn-menu{
        display:flex;
        justify-content: flex-end;
    }
    #btn-menu{
        cursor: pointer;
    }

    #menu h5{
        display:none;
    }
    .menu{
        display:none;
    }
    #menu.ativo{
        width:100%;
        display:flex;
        justify-content: flex-end;
    }
    #menu.ativo .menu{
        display:flex;
        flex-direction: column;
        height:380px;
        width:70%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    #menu.ativo li{
    padding: 15px;
    }
    #menu.ativo li a{
        font-size:1.4em;
    }
    .boas-vindas{
        display:block;
        margin: auto;
        width:80%;
      
    }
    .boas-vindas p{
        font-size: 1em;
    }
    .pagina-login{
        display:flex;
        flex-direction: column;
        width:95%;
    }
    .pagina-login-adm{
        width:100%;
    }
    .pagina-login .txt-login-usuario h1{
        font-size: 2.8em;
    }
    .formulario-login{
        height:auto;
        border-radius: 0;
    }
    .txt-login-usuario{
        height:100px;
       border-radius:0;
    }
    .lugares{
       width:70%;
    }
    .formulario{
        width:85%;
      
    }
    .anuncio{
        width:80%;
    
    }
    .anuncio h1{
                 font-size:1.5em;
    }
    .row{
        display:flex;
        flex-direction: column;
        gap:25px;
    
    }
    .col{
        width:100%;
        display:flex;
        flex-direction: column;
    }
    .sexo-col .sexo{
        margin-right:25px;
    }
    .sexo-col{
        flex-direction: row;
        margin-right:15px;
    }
    .form-control, .form-select{
        width:70%;
    }

    .cards{
        margin-top:25px;
        width:80%;
    }
    .cardConfirmacao{
        padding:0.9em;
        width:100%;
    }
    
    .alert-primary{
        margin-top:150px;
        width:80%;
    }
    .btn2{
        margin-bottom:20px;
        width:200px;
    }
   

    
}